.boas-vindas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 100vh;
  background: linear-gradient(to bottom right, #ffb6c1, #ffe4e1);
  color: #4b0082;
  text-align: center;
}

.boas-vindas h1 {
  font-size: 3rem;
  color: #ff1493;
  text-shadow: 0 0 10px rgba(255, 105, 180, 0.6);
}


.boas-vindas p {
  font-size: 1.2rem;
  max-width: 300px;
  margin-bottom: 2rem;
}


